body {
    font-family: 'Raleway', sans-serif;
    background-color: #ecebec;
}


* {
    box-sizing: border-box;
}

.formularioLogin {
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 150px auto;
}

form {
    padding: 20px;
}

form h3 {
    text-transform: uppercase;
    text-align: center;
}

form .input-container {
    position: relative;
    margin-top: 15px;
}

form .input-container input, input[type="submit"] {
    width: 100%;
    height: 45px;
    border-radius: 25px;
}

form input[type="submit"] {
    border: 0;
    background-color: red;
    color: white;
    font-weight: 700;
}

form .input-container input {
    border: 1px solid #e4e4e4;
    color: #818181;
    padding: 0 55px 0 25px; 
}

form .input-container input::placeholder {
    color: #818181; 
}

svg {
    position:absolute;
    right: 20px;
    top: calc(50% - 12px);
    color: #818181;
}

.option-container {
    /* background-color: red; */
    padding: 10px 15px;
    margin: 20px auto;
    color: #818181; 
}

.option-container .checkbox-container, a {
    display: inline-block;
    width: 50%;
}

.option-container a {
    text-align: right;
    text-decoration: none;
    color: red;

}